doctype html
html
  head
    meta(charset="UTF-8")
    title Recuperação de Senha
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }
      h1 {
        color: #333;
      }
      p {
        color: #555;
      }
      .token {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        background-color: #e9e9e9;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
        margin: 20px 0;
        word-wrap: break-word;
      }
  body
    .container
      h1 Olá, #{name}
      p Você solicitou a recuperação de sua senha. Use o token abaixo para redefinir sua senha:
      .token #{token}
      p Se você não solicitou a recuperação de senha, por favor, ignore este e-mail.
      p Obrigado,
      p Equipe de Suporte
